@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.blink {
  position: relative;
  display: inline-block; 
}

.blink::after {
  content: '';
  position: absolute;
  top: 0;
  right: -10px;
  width: 4px;
  height: 100%;
  background-color: #fff;
  animation: blink .8s infinite;
}